{% extends 'base.html.twig' %}

{% block title %}Création d'un article{% endblock %}

{% block body %}
    <h1>Création d'un article</h1>

    {{ form_start(createForm) }}
    {{ form_widget(createForm) }}
    <input type="submit" value="Créer l'article" class="btn btn-success">
    {{ form_end(createForm) }}

{% endblock %}


