{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <ul>
        {% for article in articles %}
            <li>
                {{ article.title }}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('article_show', {id: article.id }) }}" class="btn btn-sm  btn-outline-secondary">Lire l'article</a>
                    {% if is_granted('ROLE_MODERATEUR') %}
                    <a href="{{ path('article_update', {id: article.id }) }}" class="btn btn-sm btn-outline-secondary">Modifier l'article</a>
                    {% endif %}
                    <a href="{{ path('article_delete', {id: article.id }) }}" class="btn btn-sm btn-outline-secondary">Supprimer l'article</a>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}