{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des utilisateurs</h1>

    <ul>
        {% for user in users %}
            <li>
                {{ user.username }}
                <a href="{{ path('app_user_editrole', {id: user.id}) }}">Modifier le rôle</a>

            </li>
        {% endfor %}
    </ul>
{% endblock %}