{% extends 'base.html.twig' %}

{% block body %}
    <h1>Changement de rôle : {{ user.username }} </h1>

    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    <input type="submit" value="Modifier" class="btn btn-outline-primary">
    {{ form_end(editForm) }}

{% endblock %}
